@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    overflow-x: hidden;
}

.fs-content {
    display: flex;
    flex-direction: column;
    row-gap: 160px;
}
body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    overflow-x: hidden;
    color: $text-primary;
}
.container {
    width: $desktop;
    margin: 0 auto;
    padding: 0 40px;
}
.fs-h1 {
    font-size: 46px;
    line-height: 48px;
    margin: 0;
    font-weight: 400;
    max-width: 100%;
}
.fs-h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: $green-normal;
    margin: 0;
    max-width: 100%;
}

@media (max-width: grid-width($desktop)) {
    .container {
        width: $laptop;
        padding: 0 20px;
    }
    .fs-h1 {
        font-size: 42px;
    }
    .fs-h2 {
        font-size: 22px;
        line-height: 24px;
    }
    body {
        font-size: 16px;
        line-height: 20px;
    }
    .fs-content {
        row-gap: 120px;
    }
}

@media (max-width: grid-width($laptop)) {
    .container {
        width: $tablet;
    }
    .fs-h1 {
        font-size: 40px;
        line-height: 42px;
    }
    .fs-h2 {
        font-size: 20px;
        line-height: 22px;
    }
    .fs-content {
        row-gap: 100px;
    }
    body {
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: grid-width($tablet)) {
    body {
        // width: $mobile;
    }
    .container {
        width: $mobile;
    }
    .fs-h1 {
        font-size: 36px;

        line-height: 38px;

        width: 100%;
    }
    .fs-content {
        row-gap: 80px;
    }
}
