/**********
/* SITE BASE COLORS */

$text-primary: #222222;
$text-secondary: #aaaaaa;
$text-color: #ffffff;
$text-disabled: #d9d9d9;

$green-normal: #344c11;
$green-hover: #778d45;
$green-active: #aec670;

$background_1: #f9f9f9;

$mistake: #e5160b;
$attention: #e87b0e;
$success: #379e13;

$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 360px;
