/**********
/* SITE BASE COLORS */

$text-primary: #0a0908;
$text-secondary: #aaaaaa;
$text-color: #ffffff;
$text-disabled: #d9d9d9;

$background-1: #f9f9f9;
$background-2: #f6f1ec;

$green-normal: #22333b;
$green-hover: #778d45;
$green-active: #aec670;

$ton-1: #0a0908;
$ton-2: #22333b;
$ton-3: #f6f1ec;
$ton-4: #c6ac8f;
$ton-5: #5e503f;
$ton-6: #867867;

$state-normal: #c6ac8f;

$mistake: #e5160b;
$attention: #e87b0e;
$success: #379e13;

$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 360px;
