.fs-common {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 30px;
  }
  &__item-heading {
    font-weight: 700;
    color: $text-primary;
  }
  &__item-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 10px;
    // background: $background-1;
  }
  &__item-title {
    font-weight: 700;
  }
  &__loader {
    display: flex;
    flex-direction: column;
    // align-self: stretch;
    gap: 60px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: fit-content;
  }
  &__loader-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    &:after {
      @include loader-animation();
    }
  }
  &__loader-row {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    row-gap: 10px;
    // align-self: stretch;
  }
  &__loader-line1 {
    background-color: $background-1;
    height: 31px;
    width: 459px;
    border-radius: 10px;
  }
  &__loader-line2 {
    background-color: $background-1;
    height: 22px;
    width: 100%;
    border-radius: 10px;
    &--width {
      width: 109px;
      height: 22px;
    }
  }
}

@media (max-width: grid-width($tablet)) {
  .fs-common {
    &__loader-line1 {
      width: 230px;
    }
  }
}
