.fs-contacts {
    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__contact-link {
        color: $text-primary;
        text-decoration: none;
    }
    &__map-content {
        width: 100%;
        height: 500px;
    }
    &__map {
        width: 100%;
        height: 100%;
        border: none;
    }
    &__contact {
        display: flex;
        column-gap: 10px;
        align-items: center;
        svg {
            flex-shrink: 0;
            path {
                fill: $text-primary;
            }
        }
    }
}
