.fs-employees {
  &__loader {
    display: flex;
    align-items: flex-start;
    gap: 20px 18px;
    padding: 20px 0px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  &__block {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px 18px;
    padding: 20px 0px;
    // &--thr {
      // row-gap: 30px;
    // }
  }
}
@media (max-width: grid-width($laptop)) {
  .fs-employees {
    // если карточки двух видов
    // (вертикальной и горизонтальной формы)
    // &__block--thr {
    //   justify-content: center;
    // }
    // если карточки горизонтальной формы
    &__block,
    &__loader {
      justify-content: center;
    }
  }
}