.fs-history-school {
    padding: 0;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 30px;
    }
    &__item {
        height: fit-content;

        display: flex;
        flex-direction: column;
    }
    &__item-title {
        margin-bottom: 30px;
    }
    &__item-content {
        background-color: $background_1;
        padding: 20px;
        border-radius: 10px;
        height: 100%;
        img {
            width: 350px;
            height: auto;
            float: left;
            margin-right: 10px;
            border-radius: 10px;
        }
        p {
            text-indent: 20px;
            margin-bottom: 10px;
        }
        ul {
            padding: 0;
            margin-left: 28px;
        }
    }
    &__btns {
        display: flex;
        column-gap: 30px;
        justify-content: flex-end;
    }
}
@media (max-width: grid-width($desktop)) {
    .fs-history-school {
        row-gap: 40px;
    }
}
@media (max-width: grid-width($laptop)) {
    .fs-history-school {
        row-gap: 20px;
        &__item {
            margin-bottom: 20px;
        }
        &__item-title {
            margin-bottom: 20px;
        }
    }
}
@media (max-width: grid-width($tablet)) {
    .fs-history-school {
        row-gap: 20px;
        &__item-content {
            img {
                width: 100%;
                float: none;
                margin-bottom: 10px;
            }
        }
        &__item {
            height: auto;
        }
        &__btns {
            column-gap: 20px;
        }
    }
}
