.fs-header {
    &__top {
        display: flex;
        padding: 15px 40px;
        align-items: center;
        z-index: 1;
        position: relative;
    }
    &__bottom {
        z-index: 1;
        // position: relative;
        background-image: url(@/assets/img/fs-header/header.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__logo {
        stroke: $ton-2;
        fill: $ton-2;
        width: 150px;
        margin-right: auto;
        &:hover {
            fill: $ton-4;
            path {
                stroke: $ton-4;
            }
        }
        &:focus {
            outline: none;
            fill: $ton-4;
            path {
                stroke: $ton-4;
            }
        }
        &:active {
            outline: none;
            fill: $ton-5;
            path {
                stroke: $ton-5;
            }
        }
    }
    &__nav {
        display: flex;
        width: fit-content;
        column-gap: 15px;
        color: $text-primary;
    }
    &__phone {
        color: $text-primary;
        font-size: 16px;
        font-weight: 400;
        margin-left: 55px;
        text-decoration: none;
    }
    &__btn {
        margin-left: 20px;
        font-size: 16px;
    }
    &__login {
        margin-left: 20px;
    }
    &__burger {
        display: none;
        margin-left: 20px;
        cursor: pointer;
        &:hover {
            rect {
                fill: $ton-4;
            }
        }
        &:active {
            rect {
                fill: $ton-5;
            }
        }
        &:focus {
            outline: none;
            rect {
                fill: $ton-4;
            }
        }
    }
}
@media (max-width: grid-width($desktop)) {
    .fs-header {
        &__top {
            padding: 15px 20px;
        }
        &__nav {
            display: none !important;
        }
        &__burger {
            display: block;
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .fs-header {
        &__phone {
            display: none;
        }
        &__btn {
            display: none;
        }
    }
}
