.fs-history-school {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        column-gap: 30px;
    }
    &__item {
        height: 400px;
    }
    &__item-title {
        margin-bottom: 20px;
    }
    &__item-content {
        img {
            width: 312px;
            height: 226px;
            float: left;
            margin-right: 10px;
        }
        p {
            text-indent: 20px;
            margin-bottom: 10px;
        }
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, 45%);
            justify-content: space-between;
            padding: 0;
            margin-left: 28px;
        }
    }
    &__btns {
        display: flex;
        column-gap: 30px;
        justify-content: flex-end;
    }
}
