.fs-index-gallery {
    &__container {
        overflow: visible;
        display: flex;
    }
    &__reasons-cont {
        width: 100%;
    }
    &__reasons {
        display: flex;
        margin-bottom: 16px;
        width: 3840px;
        position: relative;
    }
    &__layout {
        display: flex;

        column-gap: 20px;
    }
    &__info {
        width: 290px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
    }
    &__reason {
        width: 500px;
        height: 333px;
        position: relative;
        margin-right: 16px;
        border-radius: 10px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__link {
        margin-top: auto;
    }
    &__reason-text {
        width: 250px;
        height: auto;
        min-height: 80px;
        background-color: hsla(0, 0%, 100%, 0.6);
        color: $text-primary;
        padding: 16px;
        position: absolute;
        bottom: 24px;
        font-weight: 400;
        left: 24px;
        border-radius: 10px;
    }
    &__nav {
        display: flex;
        align-items: center;
        column-gap: 16px;
    }
    &__schema {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0.02em;
        margin-left: 45px;
        cursor: pointer;
    }
    &__link {
        margin-top: 60px;
        font-weight: 700;
        &--mobile {
            display: none;
        }
    }
}
@media (max-width: grid-width($desktop)) {
    .fs-index-gallery {
        &__reason {
            width: 414px;
            height: 276px;
        }
        &__content {
            row-gap: 40px;
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .fs-index-gallery {
        &__container {
            display: block;
        }
        &__content {
            row-gap: 20px;
        }
        &__link {
        }
        &__nav {
            margin-bottom: 27px;
        }
        &__schema {
            margin-left: auto;
        }
    }
}

@media (max-width: grid-width($tablet)) {
    .fs-index-gallery {
        margin-bottom: 80px;
        &__reasons-cont {
            overflow: hidden;
        }
        &__reason {
            width: 320px;
            height: 206px;
        }
        &__reason-text {
            width: 200px;
            height: 80px;
            bottom: 10px;
            left: 10px;
            font-size: 14px;
            line-height: 17px;
            padding: 16px;
        }
        &__nav {
            flex-wrap: wrap;
        }
        &__schema {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 24px;
        }
        &__count {
            margin-left: auto;
        }
        &__layout {
            display: flex;
            flex-direction: column;
            column-gap: 20px;
        }
        &__info {
            p {
                text-align: center;
                margin-bottom: 30px;
            }
        }
        &__link {
            display: none;
            &--mobile {
                display: block;
                margin-top: 30px;
            }
        }
    }
}
