.fs-index-gallery {
    &__container {
        overflow: visible;
        display: flex;
    }
    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }
    &__reasons-cont {
        width: 100%;
    }
    &__reasons {
        display: flex;
        margin-bottom: 16px;
        width: 30000px;
    }
    &__reason {
        width: 663px;
        height: 442px;
        position: relative;
        margin-right: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__link {
        margin-top: auto;
    }
    &__reason-text {
        width: 355px;
        height: 151px;
        background-color: hsla(0, 0%, 100%, 0.6);
        color: $text-primary;
        padding: 31px 16px;
        position: absolute;
        bottom: 24px;
        left: 24px;
    }
    &__nav {
        display: flex;
        align-items: center;
        column-gap: 16px;
    }
    &__schema {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0.02em;

        margin-left: 45px;
        cursor: pointer;
    }
}
@media (max-width: grid-width($desktop)) {
    .fs-index-gallery {
        &__reason {
            width: 414px;
            height: 276px;
        }

        &__content {
            row-gap: 40px;
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .fs-index-gallery {
        &__container {
            display: block;
        }
        &__content {
            row-gap: 20px;
        }
        &__reason {
            width: 663px;
            height: 442px;
        }
        &__link {
        }
        &__nav {
            margin-bottom: 27px;
        }
        &__schema {
            margin-left: auto;
        }
    }
}

@media (max-width: grid-width($tablet)) {
    .fs-index-gallery {
        margin-bottom: 80px;
        &__reasons-cont {
            overflow: hidden;
        }
        &__reason {
            width: 320px;
            height: 206px;
        }
        &__reason-text {
            width: 304px;
            height: 102px;
            bottom: 16px;
            left: 0;
            font-size: 14px;
            line-height: 17px;
            padding: 16px;
        }
        &__nav {
            flex-wrap: wrap;
        }
        &__schema {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 24px;
        }
        &__count {
            margin-left: auto;
        }
    }
}
