.fs-login {
    &__link {
        display: flex;
        align-items: center;
        column-gap: 6px;
        text-decoration: none;
    }
    &__icon {
        stroke: $text_primary;
        width: 23px;
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
        color: inherit;
    }
    path {
        stroke: inherit;
    }
    &:hover {
        stroke: $green-hover;
    }
}
