.fs-news-list{
display: flex;
justify-content: center;

    h2{
        display: flex;
        justify-content: flex-start;

    }
    &__container{
        width: 1180px;
        @media (max-width: grid-width($laptop)) {
            width: 100%;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    &__image{
        width: 321px;
        @media (max-width: grid-width($tablet)) {
            width: 231px;
        }
        @media (max-width: grid-width($mobile)) {
            width: 100%;
        }
        img {
            width: 321px;
            @media (max-width: grid-width($tablet)) {
                width: 231px;
            }
            @media (max-width: grid-width($mobile)) {
                width: 100%;
            }
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
.fs-news-list__article{
    display: flex;
    gap: 16px;
    @media (max-width: 560px) {
        flex-direction: column;
    }
    .fs-news-list__article-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        @media (max-width: grid-width($mobile)) {
            gap: 25px;
        }
    }
    &__preview{
        p {
            color: $text_primary;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;

            @media (max-width: grid-width($tablet)) {
                font-size: 140px;
                font-weight: 300;
                line-height: 22px;
            }
        }
    }
    &__title{
        display: flex;
        flex-direction: column;

        span{
            color: $text-secondary;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
        }
    }
    .fs-news-list__ref {
        color: $green-normal;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

}
.fs-news-list__h2 {
    color: $text_primary !important;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.8px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 4px;
    @media (max-width: grid-width($tablet)) {
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
    }
    @media (max-width: grid-width($mobile)) {
        margin-bottom: 13px;
    }
}
.fs-news-list__date{
    @media (max-width: grid-width($mobile)) {
        margin-bottom: 25px;
    }
}