.fs-objects {
  &__content,
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
    row-gap: 60px;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
    row-gap: 60px;
    margin-top: 30px;
  }


  &__item {
    display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    padding: 20px;
    background: $background_1;
    &--rev {
      flex-direction: row-reverse;
      // color: $text-color;
      background-color: $background_1;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 30px;
    width: 572px;
    height: 100%;
  }
  &__info-text {
    display: flex;
    flex-direction: column;
    gap: 27px;
    &>p span {
      font-weight: bold;
    }
  }
  &__loader {
    position: relative;
    overflow: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    align-self: stretch;
    &:after {
      @include loader-animation();
    }
  }
  &__loader-row1 {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    height: 81px;
    padding: 12px 20px;
    border-radius: 10px;
    background: $background_1;
  }
  &__loader-row2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    padding: 20px;
    border-radius: 10px;
    background: $background_1;
  }
  &__loader-col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 30px;
    width: 572px;
    height: 444px;
  }
  &__loader-col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 555px;
    height: 444px;
    border-radius: 10px;
    background: #FFF;
  }
  &__loader-line1 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 297px;
    height: 31px;
    background: #FFF;
  }
  &__loader-line2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    height: 158px;
    background: #FFF;
  }
}
@media (max-width: grid-width($desktop)) {
  .fs-objects {
    &__info {
      width: 445px;
    }
    &__loader-col1,
    &__loader-col2 {
      width: 445px;
    }
  }
}
@media (max-width: grid-width($laptop)) {
  .fs-objects {
    &__info {
      width: 318px;
    }
    &__loader-col1,
    &__loader-col2 {
      width: 318px;
      height: 219px;
    }
  }
}
@media (max-width: grid-width($tablet)) {
  .fs-objects {
    &__item,
    &__loader-row2 {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 30px;
      align-self: stretch;
    }
    &__info {
      width: 280px;
    }
    &__loader-row1 {
      height: 40px;
    }
    &__loader-col1,
    &__loader-col2 {
      width: 280px;
      height: 177px;
    }
  }
}