.fs-socials {
  &__link {
    margin-right: 8px;
    &--dark {
      svg {
        rect {
          transition: all 1s;
          fill: green-normal;
        }
        path {
          transition: all 1s;
          fill: $background_1;
        }
      }
      &:hover {
        svg {
          rect {
            transition: all 1s;
            fill: #146949;
          }
          path {
            transition: all 1s;
            fill: $background_1;
          }
        }
      }
      &:active {
        svg {
          rect {
            fill: #022619;
          }
        }
      }
      &:disabled {
        svg {
          rect {
            fill: $text-disabled;
          }
        }
      }
    }
    &--light {
      svg {
        rect {
          transition: all 1s;
          fill: $background_1;
        }
        path {
          transition: all 1s;
          fill: $green-normal;
        } 
      }
      &:hover {
        svg {
          rect {
            transition: all 1s;
            fill: $green-normal;
            stroke-width: 1px;
            stroke: #ffffff;
          }
          path {
            transition: all 1s;
            fill: $background_1;
          }
        }
      }
      &:active {
        svg {
          rect {
            fill: #022619;
            stroke-width: 0px;
          }
        }
      }
      &:focus {
        svg {
          rect {
            transition: all 1s;
            fill: $green-normal;
            stroke-width: 1px;
            stroke: #ffffff;
          }
          path {
            transition: all 1s;
            fill: $background_1;
          }
        }
        outline: none;
      }
      &:disabled {
        svg {
          rect {
            fill: $text-disabled;
          }
        }
      }
    }
  }
}
