.fs-services {
    background-color: $green-normal;
    padding: 60px 0;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        color: $text-color;
    }
    &__titles {
        color: $text-color;
    }
    &__item-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 110% */
        text-decoration: none;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(5, 150px);
        justify-content: center;
        column-gap: 30px;
        row-gap: 30px;
    }
    &__item {
        // width: 370px;
        display: flex;
        padding: 20px 11px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        text-align: center;
        text-decoration: none;
        color: $text-color;
        a {
            text-decoration: none;
        }
        svg {
            height: 50px;
        }
    }
}
@media (max-width: grid-width($desktop)) {
    .fs-services {
        padding: 40px 0;
        &__content {
            row-gap: 40px;
        }
        &__items {
            grid-template-columns: repeat(auto-fill, 160px);
            justify-content: space-between;
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .fs-services {
        &__items {
            grid-template-columns: repeat(auto-fill, 150px);
            column-gap: 0;
            // justify-content: space-between;
        }
    }
}
