.fs-section {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 160px;
    }
    &__text {
        a {
            color: $green-normal;
            &:hover {
                color: $green-hover;
            }
            &:active {
                color: $green-active;
            }
        }
        ul {
            padding: 0;
            list-style: none;
            padding-left: 16px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            li {
                align-items: center;

                position: relative;
                &::before {
                    content: " ";
                    width: 10px;
                    height: 10px;
                    border-radius: 2px;
                    background: $green-normal;
                    margin-left: 2px;
                    flex-shrink: 0;
                    position: absolute;
                    left: -16px;
                    top: 4px;
                }
            }
        }
        h1 {
            font-size: 42px;
            line-height: 48px;
            margin: 0;
            font-weight: 400;
            max-width: 100%;
            color: $ton-2;
        }
        h2 {
            font-weight: 400;
            font-size: 28px;
            line-height: 30px;
            color: $ton-2;
            margin: 0;
            max-width: 100%;
        }
        h3 {
            font-weight: 400;
            font-size: 22px;
            line-height: 24px;
            color: $ton-2;
            margin: 0;
            max-width: 100%;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    &__link {
        display: flex;
        align-items: baseline;
        column-gap: 5px;
        color: $green-normal;
        a {
            text-decoration: none;
        }
    }
    &__link-pi {
        color: $text-primary;
    }
    &__loader {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        position: relative;
        overflow: hidden;
        align-items: stretch;
        // width: 100%;
        &:after {
            @include loader-animation();
        }
    }
    &__loader-string {
        background-color: $background-1;
        border-radius: 5px;
        &--1 {
            height: 60px;
            margin-bottom: 34px;
        }
        &--2 {
            height: 35px;
        }
        &--3 {
            height: 35px;
            width: 80%;
        }
        &--4 {
            height: 35px;
            width: 60%;
        }
    }
}
