.single-news{
    display: flex;
    justify-content: center;
    &__wrappper {
        width: 1280px;
        display: block;
        align-self: center;
        padding-left: 40px;
        padding-right: 40px;
        h2 {
            color: $text_primary;
            font-family: Roboto;
            font-size: 54px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__article-title{
        display: flex;
        justify-content:flex-start;
        margin-bottom: 60px;
    }
    &__article-text{
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
    }
    &__article-image{
        max-width: 394px;
        width: 30%;
        margin-right: 31px;
        margin-bottom: 31px;
        float: left;
    }
}

