.fs-services {
    background-color: $green-normal;
    padding: 60px 0;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 60px;
        flex-shrink: 0;
        color: $text-color;
    }
    &__titles {
        text-align: center;
        color: $text-color;
    }
    &__item-title {
        width: 204px;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 31px;
        text-decoration: none;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(5, 225px); //150px
        justify-content: center;
        column-gap: 30px;
        row-gap: 30px;
    }
    &__item {
        // width: 370px;
        display: flex;
        padding: 20px 10px;
        flex-direction: column;
        align-items: center;
        min-height: 250px;
        row-gap: 27px;
        text-align: center;
        text-decoration: none;
        color: $text-color;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.10);
        a {
            text-decoration: none;
        }
        svg {
            height: 86px;
        }
        &:hover {
            // outline: 3px solid orange;
            background: rgba(174, 198, 112, 0.80);
        }
        &:focus-within {
            // outline: 3px solid orange;
            background: rgba(174, 198, 112, 0.50);
        }
        &:active {}
    }
}

@media (max-width: grid-width($desktop)) {
    .fs-services {
        padding: 40px 0;
        &__content {
            row-gap: 40px;
        }
        &__items {
            grid-template-columns: repeat(auto-fill, 235px); //160px
            justify-content: space-between;
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .fs-services {
        &__items {
            grid-template-columns: repeat(auto-fill, 225px); //150px
            column-gap: 0;
            // justify-content: space-between;
        }
    }
}