.fs-sveden {
    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 10px;
        padding: 0;
        margin: 60px 0 0 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        padding: 10px;
        background: $background-1;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 9px;
        align-self: stretch;
        text-decoration: none;
        color: $text-primary;

        &:hover span {
            text-decoration-line: underline;
        }
    }
}

.pi--style {
    font-size: 20px !important;
}
