@keyframes gradient-animation_2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}
.fs-schedule {
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, 180px);
        justify-content: space-between;
        row-gap: 20px;
        padding: 30px 0;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__loader {
        margin-top: 10px;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: fit-content;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(
                110deg,
                rgba(227, 227, 227, 0) 0%,
                rgba(227, 227, 227, 0) 40%,
                rgba(227, 227, 227, 0.5) 50%,
                rgba(227, 227, 227, 0) 60%,
                rgba(227, 227, 227, 0) 100%
            );
            animation: gradient-animation_2 1.2s linear infinite;
        }
    }
    &__loader-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    &__loader-line {
        background-color: $background_1;
        height: 43px;
        width: 100%;
        border-radius: 10px;
    }
}

.fs-schedule-day {
    color: $text-primary;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: $background_1;
    border-radius: 10px;
    &__title {
        font-weight: 700;
        color: $green-normal;
    }
    &__list {
        padding-left: 16px;
        // list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        height: 100%;
    }
    &__name {
        font-size: 16px;
        &::marker {
            font-weight: 700;
        }
    }
}
@media (max-width: grid-width($tablet)) {
    .fs-schedule {
        &__items {
            grid-template-columns: repeat(auto-fill, 155px);
        }
    }
    .fs-schedule-day {
        padding: 8px;

        &__title {
            font-size: 16px;
            line-height: 19px;
        }
        &__list {
            border-left-width: 3px;
        }
    }
}
