.fs-schedule {
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, 180px);
        justify-content: space-between;
        row-gap: 50px;
    }
}
.fs-accordeon {
    list-style: none;
    padding: 0;
    &__item {
    }
    &__item-title {
        padding: 10px 0 10px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-left: 5px solid $text-secondary;
        border-bottom: 1px solid $text-secondary;
        border-radius: 5px;
        svg {
            width: 20px;
            height: 20px;
        }
        &--active {
            border-bottom: none;
            border-left: 5px solid $green-normal;
            background-color: $background_1;
        }
    }
    &__item-hidden {
        padding: 10px 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.2s linear;
        &--active {
            visibility: visible;
            height: auto;
            overflow: none;
            opacity: 1;
        }
    }
    &__items {
    }
}
.fs-schedule-day {
    color: $text-primary;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: $background_1;
    border-radius: 10px;
    &__title {
        font-weight: 700;
        color: $green-normal;
    }
    &__list {
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        height: 100%;
    }
    &__name {
        font-size: 16px;
    }
}
@media (max-width: grid-width($tablet)) {
    .fs-schedule {
        &__items {
            grid-template-columns: repeat(auto-fill, 155px);
        }
    }
    .fs-schedule-day {
        padding: 8px;
        row-gap: 0px;
        &__title {
            font-size: 16px;
            line-height: 19px;
        }
        &__list {
            border-left-width: 3px;
        }
    }
}
