.fs-teacher-content {
    display: flex;
    flex-direction: column;
    row-gap: 160px;
    &__main-title {
        margin-bottom: 30px;
    }
    &__personal {
    }
    &__wrap {
        padding: 30px 0;
    }
    &__students {
        row-gap: 20px;
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(auto-fill, 360px);
    }
    &__student {
        padding: 10px;
        row-gap: 20px;
        background-color: $background-1;
        border-radius: 10px;
        flex-direction: column;
        display: flex;
    }
    &__student-name {
        font-weight: 700;
        color: $ton-5;
    }

    &__parents-contacts-wrap {
    }
    &__parents-contacts-title {
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__parents-contacts {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    &__parents-contact {
    }
    &__description {
        // flex-direction: row;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fill, 320px);
        row-gap: 30px;
    }
}
@media (max-width: grid-width($desktop)) {
    .fs-teacher-content {
        row-gap: 120px;
        &__personal {
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .fs-teacher-content {
        row-gap: 100px;
        &__personal {
        }
    }
}
@media (max-width: grid-width($tablet)) {
    .fs-teacher-content {
        row-gap: 80px;
        &__personal {
        }
        &__description {
            row-gap: 20px;
        }
    }
}
