.fs-useful-links {
    background-color: rgba(234, 224, 213, 0.46);
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 253px);
        justify-content: space-between;
        row-gap: 60px;
    }
    &__link {
        border-radius: 10px;
        overflow: hidden;
        display: block;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__loader {
        display: grid;
        grid-template-columns: repeat(auto-fill, 253px);
        justify-content: space-between;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(
                110deg,
                rgba(227, 227, 227, 0) 0%,
                rgba(227, 227, 227, 0) 40%,
                rgba(227, 227, 227, 0.5) 50%,
                rgba(227, 227, 227, 0) 60%,
                rgba(227, 227, 227, 0) 100%
            );
            animation: gradient-animation_2 1.2s linear infinite;
        }
        div {
            background-color: $background-1;
            border-radius: 10px;
            width: 253px;
            height: 110px;
        }
    }
}

@media (max-width: grid-width($desktop)) {
    .fs-useful-links {
        &__wrapper {
            grid-template-columns: repeat(auto-fill, 226px);
            row-gap: 40px;
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .fs-useful-links {
        &__wrapper {
            grid-template-columns: repeat(auto-fill, 233px);
            row-gap: 30px;
        }
    }
}

@media (max-width: grid-width($tablet)) {
    .fs-useful-links__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        row-gap: 30px;
    }
}
