.fs-btn {
    text-decoration: none;
    width: fit-content;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 45px;
    box-sizing: border-box;
    border-radius: 10px;
    &--green {
        transition: background-color 0.5s;
        color: $text-primary;
        background-color: $ton-4;
        border: none;
        &:hover {
            transition: background-color 0.5s;
            background-color: $ton-5;
            color: $text-color;
        }
        &:active {
            background-color: $ton-2;
            color: $text-color;
        }
        &:focus {
            background-color: $ton-5;
            outline: none;
            color: $text-color;
        }
        &:disabled {
            background-color: $text-disabled;
        }
    }

    &--transparent {
        color: $text-color;
        background-color: transparent;
        border: 2px solid $text-color;
        transition: all 0.5s;
        &:hover {
            transition: all 0.5s;
            background-color: $ton-5;
            border-color: $ton-5;
            color: $text-color;
        }
        &:active {
            background-color: $ton-4;
            border-color: $ton-4;
            color: $text-primary;
        }
        &:focus {
            background-color: $ton-5;
            border-color: $ton-5;
            color: $text-color;
            outline: none;
        }
        &:disabled {
            background-color: $text-disabled;
            color: $text-color;
            border-color: $text-disabled;
        }
    }
    &--white {
        color: $green-hover;
        background-color: transparent;
        border: 2px solid $green-hover;
        transition: all 0.5s;
        &:hover {
            transition: all 0.5s;
            background-color: $text-color;
            color: $text-primary;
        }
        &:active {
            background-color: $green-active;
            border-color: $green-active;
            color: $text-primary;
        }
        &:focus {
            background-color: $green-active;
            border-color: $green-active;
            color: $text-primary;
            outline: none;
        }
        &:disabled {
            background-color: $text-disabled;
            color: $text-color;
            border-color: $text-disabled;
        }
    }
}
