.fs-btn-slides {
    border: none;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-color: $green-normal;
    display: flex;
    align-items: center;
    justify-content: center;
    path {
        fill: $text_color;
    }

    &:hover {
        background-color: $green-hover;
        path {
            transition: all 1s;
            fill: $text-color;
        }
    }
    &:active {
        background-color: $green-active;
    }
    &:focus {
        background-color: $green-hover;
    }
}
@media (max-width: grid-width($tablet)) {
    .fs-btn-slides {
        width: 40px;
        height: 40px;
    }
}
