.fs-link {
    text-decoration: underline;
    // font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    // letter-spacing: 0.02em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: $green-normal;
    &--white {
        color: $text-color;
        &:hover {
            color: #ffffffa1;
        }
        &:active {
            color: #146949;
        }
        &:disabled {
            color: $text-disabled;
        }
        &:focus {
            outline: none;
        }
    }
    &--green {
        color: $green-normal;
        &:hover {
            color: $green-hover;
        }
        &:active {
            color: $green-active;
        }
        &:disabled {
            color: $text-disabled;
        }
        &:focus {
            color: $green-active;
            outline: none;
        }
    }
}
@media (max-width: grid-width($desktop)) {
    .fs-link {
        // font-size: 20px;
        line-height: 22px;
    }
}
@media (max-width: grid-width($laptop)) {
    .fs-link {
        // font-size: 18px;
        line-height: 20px;
    }
}
