.fs-marker-square {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;

  &::before {
    content: " ";
    width: 15px;
    height: 15px;
    border-radius: 2px;
    // box-shadow: 0px 0px 1.5px 1.5px $green-normal inset;
    background: $green-normal;
    margin-left: 2px;
  }
}