.fs-section-titles {
    color: $text-primary;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    margin-bottom: 60px;
    &__dop-text {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
    }
}
